$fuente_principal: "Montserrat", sans-serif;

// Colores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fdda00;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
$azulclaro: #add8e6;
$grisclaro: #d3d3d3;

//MEDIA QUERIES

$telefono: 360px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

//JUSTIFICAR PARRAFO
.justificar {
  text-align: justify;
}
